<a class="logo" href="https://github.com/Shihahmed/weather-app-angular">
    <img src="assets\weatherLogo.svg">
</a>

<form class="search" [formGroup]="weatherSearchForm"
    (ngSubmit)="getOneCallWeatherByCityName(weatherSearchForm.value.location)">
    <div class="form-group">
        <input class="form-control" type="text" id="weatherLocation" aria-describedby="weatherLocation"
            placeholder="Please input a Location" formControlName="location" />
    </div>
    <button type="submit" class="btn-search">
        Search
    </button>
</form>

<div class="sizeBox">

</div>

<ng-template [ngIf]="this.cityName.length>0">
    <div class="container">

        <div class="left">
            <h1 class="mainTemp">
                {{(this.currentWeatherData?.temp).toFixed(0)}}°
            </h1>
            <h1 class="mainDescription">
                {{this.currentWeatherData?.weather[0].main}}
            </h1>
            <img class="mainWeatherIcon" src='assets/weatherIcons/{{this.mainWeatherIconId}}.svg' />
        </div>

        <div class="right">

            <!-- sun -->
            <h3 class="sityName">{{this.cityName}}</h3>
            <h3 class="currentDate">{{this.getDateFromRawDate(this.currentWeatherData?.dt)}}</h3>
            <svg class="sun" width="200" height="100" viewbox="0 0 200 180" xmlns="http://www.w3.org/2000/svg">
                <path id="sunPath" d="M20 60 C 60 10, 140 10, 180 60" stroke="black" fill="transparent" />
                <g id="sunEl" style="transform: translate(20px, 60px);">
                    <circle r="8" />
                </g>
                <g class="text-fields">
                    <text id="sunrise">{{this.getTimeFromRawDate(this.currentWeatherData?.sunrise)}}</text>
                    <text id="time">{{this.getTimeFromRawDate(this.currentWeatherData?.dt)}}</text>
                    <text id="sunset">{{this.getTimeFromRawDate(this.currentWeatherData?.sunset)}}</text>
                </g>
            </svg>
            <!--   -->

            <!-- wether info -->
            <div class="weatherInfo">

                <div class="leftWeatherInfo">

                    <div class="wind">
                        <img class="infoIcons" src="assets/weatherInfoIcons/wind.svg" />
                        <p class="infoText">{{degToCard(this.currentWeatherData?.wind_deg)}}
                            {{(this.currentWeatherData?.wind_speed * 3.6).toFixed(1)}} km/h
                        </p>
                    </div>

                    <div class="hygrometer">
                        <img class="infoIcons" src="assets/weatherInfoIcons/hygrometer.svg" />
                        <p class="infoText">{{this.currentWeatherData?.humidity}}%</p>
                    </div>

                </div>

                <div class="divider"></div>

                <div class="rightWeatherInfo">

                    <div class="uf">
                        <img class="infoIcons" src="assets/weatherInfoIcons/uvi.svg" />
                        <p class="infoText">{{this.currentWeatherData?.uvi}} uvi</p>
                    </div>

                    <div class="barometer">
                        <img class="infoIcons" src="assets/weatherInfoIcons/barometr.svg" />
                        <p class="infoText">{{(this.currentWeatherData?.pressure*0.75006375541921).toFixed(0)}} mmHg</p>
                    </div>

                </div>

            </div>
            <!--     -->

        </div>




    </div>

    <div class="sizeBox"></div>

    <!--  FORECAST   -->
    <div class="forecast">

        <div class="day" *ngFor="let dayly of dailyWeatherData">

            <div class="dayDateContainer">
                <h1 class="daylyDate">{{this.getDateFromRawDate(dayly?.dt)}}</h1>
                <h1 class="daylyTemp">
                    {{(dayly?.temp.max).toFixed(0)}}°/{{(dayly?.temp.min).toFixed(0)}}°
                </h1>
                <h1 class="daylyDescription">
                    {{dayly?.weather[0].main}}
                </h1>
                <img class="daylyWeatherIcon" src='assets/weatherIcons/{{dayly?.weather[0].icon}}.svg' />

            </div>

            <div class="dayInfoContainer">


                <div class="daylyLeftWeatherInfo">

                    <div class="daylyWind">
                        <img class="infoIcons" src="assets/weatherInfoIcons/wind.svg" />
                        <p class="infoText">
                            {{(dayly?.wind_speed * 3.6).toFixed(1)}} km/h
                        </p>
                    </div>

                    <div class="daylyHygrometer">
                        <img class="infoIcons" src="assets/weatherInfoIcons/hygrometer.svg" />
                        <p class="infoText">{{dayly?.humidity}}%</p>
                    </div>

                </div>


                <div class="daylyRightWeatherInfo">

                    <div class="daylyUf">
                        <img class="infoIcons" src="assets/weatherInfoIcons/uvi.svg" />
                        <p class="infoText">{{dayly?.uvi}} uvi</p>
                    </div>

                    <div class="daylyBarometer">
                        <img class="infoIcons" src="assets/weatherInfoIcons/barometr.svg" />
                        <p class="infoText">{{(dayly?.pressure*0.75006375541921).toFixed(0)}} mmHg</p>
                    </div>

                </div>

            </div>


        </div>

    </div>
    <div class="sizeBox"></div>
</ng-template>

<!--     -->