<div class="day" >

  <div class="dayDateContainer">
    <h1 class="dailyDate">{{this.weatherService.getDateTimeFromRawDate(weather?.dt) | date : 'dd.MM'}}</h1>
    <h1 class="dailyTemp">
      {{(weather?.temp.max).toFixed(0)}}°/{{(weather?.temp.min).toFixed(0)}}°
    </h1>
    <h1 class="dailyDescription">
      {{weather?.weather[0].main}}
    </h1>
    <img class="dailyWeatherIcon" src='assets/weatherIcons/{{weather?.weather[0].icon}}.svg'/>

  </div>

  <div class="dayInfoContainer">


    <div class="dailyLeftWeatherInfo">

      <div class="weatherParameter">
        <img class="infoIcons" src="assets/weatherInfoIcons/wind.svg" alt="wind"/>
        <p class="infoText">
          {{(weather?.wind_speed * 3.6).toFixed(1)}} km/h
        </p>
      </div>

      <div class="weatherParameter">
        <img class="infoIcons" src="assets/weatherInfoIcons/hygrometer.svg" alt="hygrometer"/>
        <p class="infoText">{{weather?.humidity}}%</p>
      </div>

    </div>


    <div class="dailyRightWeatherInfo">

      <div class="weatherParameter">
        <img class="infoIcons" src="assets/weatherInfoIcons/uvi.svg" alt="uvi"/>
        <p class="infoText">{{weather?.uvi}} uvi</p>
      </div>

      <div class="weatherParameter">
        <img class="infoIcons" src="assets/weatherInfoIcons/barometer.svg" alt="barometer"/>
        <p class="infoText">{{(weather?.pressure * 0.75006375541921).toFixed(0)}} mmHg</p>
      </div>

    </div>

  </div>


</div>
