<a class="logo" href="https://github.com/Shihahmed/weather-app-angular">
  <img src="assets\weatherLogo.svg" alt="logo">
</a>


<app-search-input
  (search)="loadWeatherByCityName($event)">
</app-search-input>


<div class="sizeBox">

</div>

<div class="main-container">

  <div class="left">
    <h1 class="mainTemp" *ngIf="(weather$| async)">
      {{(weather$ | async).temp}}°
    </h1>
    <h1 class="mainDescription" *ngIf="(weather$ | async)">
      {{(weather$ | async).description}}
    </h1>
    <img *ngIf="(weather$ | async)" class="mainWeatherIcon" src='assets/weatherIcons/{{(weather$ | async).iconCode}}.svg' alt="weatherIcon"/>
  </div>

  <div class="right">

    <h3 class="cityName" *ngIf="(weather$ | async)">{{(weather$ | async).cityName}}</h3>
    <h3 class="currentDate" *ngIf="(weather$ | async)">{{(weather$ | async).date | date : 'dd.MM'}}</h3>
    <app-sun-position
      *ngIf="(weather$ | async)"
      [sunriseTime]="(weather$ | async).sunriseDateTime"
      [currentTime]="(weather$ | async).date"
      [sunsetTime]="(weather$ | async).sunsetDateTime">
    </app-sun-position>

    <!-- weather info -->
    <div class="weatherInfo">

      <div class="leftWeatherInfo" *ngIf="(weather$ | async)">

        <div class="weatherParameter">
          <img class="infoIcons" src="assets/weatherInfoIcons/wind.svg"/>
          <p class="infoText">{{(weather$ | async).windDirection}}
            {{(weather$ | async).windDeg}} km/h
          </p>
        </div>

        <div class="weatherParameter">
          <img class="infoIcons" src="assets/weatherInfoIcons/hygrometer.svg"/>
          <p class="infoText">{{(weather$ | async).humidity}}%</p>
        </div>

      </div>

      <div class="divider"></div>

      <div class="rightWeatherInfo" *ngIf="(weather$ | async)">

        <div class="weatherParameter">
          <img class="infoIcons" src="assets/weatherInfoIcons/uvi.svg"/>
          <p class="infoText">{{(weather$ | async).uvi}} uvi</p>
        </div>

        <div class="weatherParameter">
          <img class="infoIcons" src="../../../assets/weatherInfoIcons/barometer.svg"/>
          <p class="infoText">{{(weather$ | async).pressure_mmHg}} mmHg</p>
        </div>

      </div>

    </div>
    <!--     -->

  </div>


</div>

<div class="sizeBox"></div>

<div class="forecast"  *ngIf="(weather$ | async)">

  <app-day-card
    *ngFor="let daily of (weather$ | async).dailyWeather"
    [weather]="daily">
  </app-day-card>

</div>
<div class="sizeBox"></div>
